body {
  background-color: pink;
}

h1 {
  color: black;
  margin-left: 20px;
  font-family: Helvetica;
  font-style: 30px;
}

p1 {
  color: black;
  margin-left: 10px;
  font-family: Helvetica;
  font-style: 15px;
}
